{% extends 'header.html' %}
{% block content %}
{% load static %}
<br>
<h1>Список студентов ИВТ-201:</h1>

<ul>
    {% for s in students %}
        <li class="student-card">
            <p class="student-card-title">{{ forloop.counter }}. {{ s.name }}</p>
            <p class="student-card-subtitle">{{ s.year }}</p>
            <img class="student-card-img" src="{% static s.img %}" height="200px" alt="Ты где-то очень жёстко накосячил, чел:/">
        </li>

    {% endfor %}
</ul>

{% endblock %}