<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        #это css
    </style>
</head>
<body>
<h1>Добро-пожаловать на сервер "Шизофрения"</h1>
<h2>{{title}}</h2>
<img src="https://64.media.tumblr.com/f901397da13298e6290d664be1c524b6/tumblr_mjxkgrKUDI1qi6mxao1_400.gifv">
<img src="https://media.discordapp.net/attachments/997195974315360396/1097183341943464057/EF2F2635-6AD1-4EE6-8E86-55FDC855BFBC.gif">
<img src="https://64.media.tumblr.com/tumblr_lpc46oU6Cy1qi1pnpo1_500.gifv">
<br>{{menu}}
<br>
<h1>А теперь посмотим на различные типы данных✨</h1>
<ul class="container">
    <li>int - {{int}}</li>
    <li>float - {{float|floatformat:3}}</li>
    <li>str - {{str}}</li>
    <li>bool - {{bool}}</li>
    <li>list - {{list}}</li>
    <li>dict - {{dict}}</li>
    <li>array - {{menu}}</li>
</ul><br>

конец домашки.. Т-Т
<br>

<ul>
    {% for p in posts %}
    {% if forloop.first %}
        <h1>СПИСОК СТУДЕНТОВ:</h1>
    {% endif %}
    <li>
        <h2>{{ forloop.counter }}. {{p.FIO}}</h2>
        <p>{{p.interesting}}</p>

        {% if p.is_sport == True %}
        <h2>Спортсмем!</h2>
        {% endif %}

        {% if p.id|divisibleby:"2" %}
            Номер кстати чётный
        {% else %}
            Номер кстати нечётный
        {% endif %}

        <p><a href="{% url 'student' p.id %}">Чтооооооо</a></p>

        {% if not forloop.last %}
        <hr>
        {% endif %}

        {% if forloop.counter0 >= 2 %}
        <h1>Конец списка.</h1>
        {% endif %}

    </li>
    {% endfor %}
</ul><br>

<a href="{% url 'home' %}">Главная</a>
<a href="{% url 'about' %}">О сайте</a>
<a href="{% url 'student' 1 %}">Студенты</a>

</body>
</html>