<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<ul style="list-style-type: square; ">
    {% for m in menu %}
    <li>

        {% if not forloop.last %}
        <p><a href="{% url m.url_name %} ">
            {{m.title}}</a></p>
        {% endif %}

        {% if forloop.last %}
        <p><a href="{% url m.url_name 1 %} ">
            {{m.title}}</a></p>
        {% endif %}


    </li>
    {% endfor %}
</ul>

{% block content %}
{% endblock %}

<hr>
<h1>Добро-пожаловать в ПОДВАЛ.</h1>
<img src="https://media.giphy.com/media/WoL6BQ1YrKmmraYIkn/giphy.gif"
alt="Тут должна быть гифка, но ты лох.">

</body>
</html>